//width
$desktop: 1060px;
$tablets: 768px;
$phones: 480px;

//color
$background-color: #000000;
$font-color: #ffffff;
$red: #e50914;
$yellow: #f8bc37;
$box-shadow-yellow: 1px 5px 10px -5px #f8bc37;
$box-shadow-red: 1px 5px 10px -5px #e50914;

// button
$button-background-color: #f8bc37;
$button-background-color-hover: #e50914;
$button-font-color: #ffffff;
$button-font-size: 16px;
